{% extends 'JamboBundle:registration:_template.html.twig' %}
{% import 'JamboBundle::_macro.html.twig' as globalMacro %}

{% block content %}
    {% if participantsLimitsExceeded %}
        {{ globalMacro.message('index.closed.message', 'message', true) }}
    {% else %}
        <div class="btn-group-vertical btn-group-lg">
            {% if not participantsLimitsExceeded %}
                <a href="{{ path('registration_troop_form') }}" class="btn btn-default">
                    {{ 'index.register_troop'|trans }}
                </a>
                <a href="{{ path('registration_patrol_single_form') }}" class="btn btn-default">
                    {{ 'index.register_patrol'|trans }}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
