{% extends 'JamboBundle:registration:_template.html.twig' %}
{% import 'JamboBundle:registration:_macro.html.twig' as macro %}
{% import 'JamboBundle::_macro.html.twig' as globalMacro %}

{% set pageTitle = 'patrol.participants_form.title'|trans({'%troopName%': troop.name, '%patrolName%': patrol.name}) %}

{% block content %}
    {{ globalMacro.flashBagMessages('success', true) }}
    {{ globalMacro.flashBagMessages('error', true) }}
    <h1>{{ 'patrol.participants_form.title'|trans({'%troopName%': troop.name, '%patrolName%': patrol.name}) }}</h1>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-troop'}}) }}
        {{ macro.infoRow('form.patrol_name', patrol.name) }}
        {{ macro.infoRow('form.district', patrol.districtId|districtname) }}
        {{ macro.infoRow('form.methodology_group', patrol.methodologyGroupId|methodologygroupname) }}
        {{ macro.infoRow('form.comments', patrol.comments) }}
        {{ macro.infoRow('patrol.form.leader', globalMacro.showMemberName(patrol.leader)) }}
        <div data-added-items="{{ added_items }}" data-max-size="{{ max_size }}"
            data-prototype="{{ macro.troopMember(form.members.vars.prototype, '__no__', false)|e }}">
            {% for member in form.members %}
                {{ macro.troopMember(member, loop.index + added_items, false, form.vars.data.leader, true) }}
            {% endfor %}
        </div>
        <div class="form-group" style="display:none">
            <span id="add-member" class="btn btn-default btn-lg" style="width:100%">
                {{ 'patrol.form.add_member'|trans }}
            </span>
        </div>
        {{ macro.formCheckboxRow(form.personalData) }}
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
