{% extends 'JamboBundle:admin:_template.html.twig' %}
{% import 'JamboBundle:admin:_macro.html.twig' as macro %}
{% import 'JamboBundle::_macro.html.twig' as globalMacro %}

{% block content %}
    {{ globalMacro.flashBagMessages('success', true) }}
    {{ globalMacro.flashBagMessages('error', true) }}
    {{ macro.showHeader('admin.participant'|trans, path('admin_participant_edit', {id: participant.id})) }}
    <dl class="list">
        <dt>{{ 'form.first_name'|trans }}:</dt>
        <dd>{{ participant.firstName }}</dd>
        <dt>{{ 'form.last_name'|trans }}:</dt>
        <dd>{{ participant.lastName }}</dd>
        <dt>{{ 'form.address'|trans }}:</dt>
        <dd>{{ participant.address }}</dd>
        <dt>{{ 'form.phone'|trans }}:</dt>
        <dd>{{ participant.phone }}</dd>
        <dt>{{ 'form.email'|trans }}:</dt>
        <dd><a href="mailto:{{ participant.email }}">{{ participant.email }}</a> ({{ participant.status|statusname }})</dd>
        <dt>{{ 'form.birth_date'|trans }}:</dt>
        <dd>{{ participant.birthDate|date('Y-m-d') }}</dd>
        <dt>{{ 'admin.age_at_limit'|trans({'%date%': ageLimit}) }}:</dt>
        <dd>{{ participant.birthDate|ageatlimit }}</dd>
        <dt>{{ 'form.sex'|trans }}:</dt>
        <dd>{{ participant.sex|sexname }}</dd>
        {% if participant.gradeId > 0 %}
            <dt>{{ 'form.grade'|trans }}:</dt>
            <dd>{{ participant.gradeId|gradename }}</dd>
        {% endif %}
        <dt>{{ 'form.district'|trans }}:</dt>
        <dd>
            <a href="{{ path('admin_participant_index', {districtId: participant.districtId}) }}">
                {{ participant.districtId|districtname }}
            </a>
        </dd>
        <dt>{{ 'form.member_number'|trans }}:</dt>
        <dd>{{ participant.memberNumber }}</dd>
        <dt>{{ 'form.pesel'|trans }}:</dt>
        <dd>{{ participant.pesel|peselmodify }}</dd>
        <dt>{{ 'form.shirt_size'|trans }}:</dt>
        <dd>{{ participant.shirtSize ? participant.shirtSize|shirtsizename : '-' }}</dd>
        <dt>{{ 'form.comments'|trans }}:</dt>
        <dd>{{ participant.comments is empty ? '-' : participant.comments }}</dd>
        <dt>{{ 'form.guardian_name'|trans }}:</dt>
        <dd>{{ participant.guardianName is empty ? '-' : participant.guardianName }}</dd>
        <dt>{{ 'form.guardian_phone'|trans }}:</dt>
        <dd>{{ participant.guardianPhone is empty ? '-' : participant.guardianPhone }}</dd>
        {% if participant.patrol %}
            <dt>{{ 'form.patrol_name'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_patrol_show', {id: participant.patrol.id}) }}">{{ participant.patrol.name }}</a>
                {% if participant.patrolLeader %}({{ 'admin.patrol_leader'|trans }}){% endif %}
            </dd>
        {% endif %}
        {% if participant.troop %}
            <dt>{{ 'form.troop_name'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_troop_show', {id: participant.troop.id}) }}">{{ participant.troop.name }}</a>
                {% if participant.troopLeader %}({{ 'admin.troop_leader'|trans }}){% endif %}
            </dd>
        {% endif %}
        <dt>{{ 'admin.created_at'|trans }}:</dt>
        <dd>{{ participant.createdAt|date('Y-m-d') }}</dd>
    </dl>
    {{ macro.editFormModal() }}
{% endblock %}
